:root {
  --base-font-size: 62.5%;

  --font-weight-light: 100;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --heading-font-family: "Oswald", "sans-serif";
  --heading-font-weight: var(--font-weight-regular);
  --heading-font-size: var(--base-font-size);
  --heading-line-height: 1.4rem;

  --body-font-family: "Open Sans", "sans-serif";
  --body-font-weight: var(--font-weight-regular);
  --body-font-size: var(--base-font-size);
  --body-line-height: 1.5rem;

  --widthRegular: 1000px;
  --widthTablet: 800px;
  --widthMobile: 750px;

  --colorMain1: #003459;
  --colorMain2: #ebebeb;
  --colorAccent: #6bcee1;
  --colorWhite: #fafafa;
  --colorBlack: #323232;
  --colorLightGrey: #e4e7eb;
}

.wrapperRegular {
  max-width: var(--widthRegular);
}

.wrapperTablet {
  max-width: var(--widthTablet);
}

.wrapperMobile {
  max-width: var(--widthMobile);
}

html {
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);

  color: var(--colorMain1);
  background-color: var(--colorWhite);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}
